<h1>Topics</h1>

<%= stylesheet_link_tag "homepage.css" %>

<ul>
	<li>
	<div class="food-images">
	<img class="food"src="../images/dessert_tomato-cake-750x350.jpg">
	<%= link_to 'Desserts', homepage_desserts_path, :class => "text_over" %>
	</div>
	</li>

	<li>
	<div class="food-images">
	<img class="food" src="../images/soup_thai-coconut-750x350.jpg">
	<%= link_to 'Soups', homepage_soups_path, :class => "text_over" %>
	</div>
	</li>

	<li>
	<div class="food-images">
	<img class="food" src="../images/salad_kale-750x350.jpg">
	<%= link_to 'Salads', homepage_salads_path, :class => "text_over" %>
	</div>
	</li>

	<li>
	<div class="food-images">
	<img class="food" src="../images/meat_chicken-750x350.jpg">
	<%= link_to 'Meat', homepage_meat_path, :class => "text_over" %>
	</div>
	</li>

	<li>
	<div class="food-images">
	<img class="food" src="../images/seafood_cod-750x350.jpg">
	<%= link_to 'Seafood', homepage_seafood_path, :class => "text_over" %>
	</div>
	</li>

</ul>