<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
		</ul>
	<% end %>

	<%= f.label :fname, "First Name", :class => "edit_profile_label" %>
	<%= f.text_field :fname, :id => "edit_fname", :class => "edit_field" %><br />
	<%= f.label :lname, "Last Name", :class => "edit_profile_label" %>
	<%= f.text_field :lname, :id => "edit_lname", :class => "edit_field" %><br />
	<%= f.label :email, :class => "edit_profile_label" %>
	<%= f.email_field :email, :id => "edit_email", :class => "edit_field" %><br />
	<%= f.label :password, :class => "edit_profile_label" %>
	<%= f.password_field :password, :id => "edit_password", :class => "edit_field" %><br />
	<%= f.label :level, :class => "edit_profile_label", :id => "edit_level" %>
	<%= f.select(:level, options_for_select([['Choose One', 0],['Line Cook', 1],['Sous Chef', 2],['Executive Chef', 3]])) %><br />
	<%= f.label :photo, 'Photo URL', :class => "edit_profile_label"%>
	<%= f.text_field :photo, :id => "edit_photo", :class => "edit_field" %><br />
	<%= f.submit 'Update' %>
<% end %>