<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
		</ul>
	<% end %>


	<%= f.label :fname, "First Name" %>
	<%= f.text_field :fname %>
	<br />
	<%= f.label :lname %>
	<%= f.text_field :lname %>
	<br />
	<%= f.label :email %>
	<%= f.email_field :email %>
	<br />
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br />
	<%= f.submit %>

	<input type="text" name="[account]profile_image_url" value="<%= @current_user.account.profile_image_url %>">
<% end %>