<!DOCTYPE html>
<head>
	<%= stylesheet_link_tag "main.css" %>
	<%= stylesheet_link_tag "normalize.css" %>
</head>

<body>

	<header class="profile_header">
		<img id="profile_img" src="<%= @user.photo %>" alt="profile_pic"/>
		<div class="profile_bio">
			<h1 id="chef_name">Chef <%= @user.fname + " " + @user.lname %></h1>
			<p class="chef_level">Level: <%= @user.level %></p>
			<br /><br />
			<p>
				<% if current_user and @user == current_user %>
					<%= link_to 'Edit Profile', edit_user_path(@user) %>
				<% end %>
			</p>
			<% if current_user and @user != current_user %>
				<% if current_user.followeds.include? @user %>
					<p><%= link_to 'Unfollow', unfollow_user_path(@user), method: :post %></p>
				<% else %>
					<p><%= link_to 'Follow', follow_user_path(@user),method: :post %></p>
				<% end %>
			<% end %>
		</div>
	</header>

	<br clear="both"/>

	<section class="profile_nav">
		<ul>
			<li><a id="user_posts" href="#">Posts</a></li>
			<li><a id="user_following" href="#">Following</a></li>
			<li><a id="user_followers" href="#">Followers</a></li>
		</ul>
	</section>
	
	<div class="profile_sections">
		<section class="user_posts">
			<div class="upper_posts_section">
				<h3><%= @user.fname %>'s Posts</h3>
				<% if current_user and @user == current_user %>
					<p id="new_post">Write a New Post:</p>
					<div id="profile_post_form">
					<%= form_for @post do |f| %>
						<%=f.label :title, :class => "profile_label" %>
						<%=f.text_field :title , :id => "profile_title_text" %><br />
						<%=f.label :body, :class => "profile_label" %><br />
						<%=f.text_area :body, :id => "profile_body_text" %><br />
						<%=f.label :tag, :class => "profile_label" %>
						<%=f.select(:tag, options_for_select([['Choose One', 0],['Salad', 1],['Soup', 2],['Seafood', 3],['Meat/Poultry', 4],['Dessert', 5]])) %><br />
						<%=f.submit 'Post', :id => "profile_postBtn" %>
						<hr id="profile_form_hr" />
					<% end %>
				<% end %>
				</div>
			</div>
			<ul class="user_posts_list">
				<% @user.posts.each do |post| %>
					<li class="profile_post_title"><%= link_to post.title, post %></li>
					<li class="profile_post_body"><%= link_to post.body, post %></li>
					<li class="profile_post_tag">
						#<%= link_to post.display_tag, salads_path %>
					</li>
					<li class="edit_post_link">
						<% if current_user and @user == current_user %>
							<%= link_to 'Edit Post', edit_post_path %> |
						<% end %>
						<%= link_to 'Comments', post_path %>
					</li>
					<hr id="post_divider_hr"/>
				<% end %>
			</ul>
		</section>

		<section class="user_following">
			<h3 class="follow_heading">Following</h3>
			<ul>
				<% @user.followeds.each do |user| %>
					<li><%= link_to user.fname, user %></li>
				<% end %>
			</ul>
		</section>

		<section class="user_followers">
			<h3 class="follow_heading">Followers</h3>
			<ul>
				<% @user.followers.each do |user| %>
					<li><%= link_to user.fname, user %></li>
				<% end %>
			</ul>
		</section>
	</div>

</body>

<script>

$(document).ready(function(){
	$("#user_posts").click(function(){
		$(".user_posts").show();
		$(".user_posts_list").show();
		$(".user_following").hide();
		$(".user_followers").hide();
	});
	$("#user_following").click(function(){
		$(".user_following").show();
		$(".user_posts").hide();
		$(".user_posts_list").hide();
		$(".user_followers").hide();
	});
	$("#user_followers").click(function(){
		$(".user_followers").show();
		$(".user_posts").hide();
		$(".user_posts_list").hide();
		$(".user_following").hide();
	});

});

</script>




















